
html, body {
/*     set background to scale to the full width and height of the page . */
    background:url('../img/bg.jpg') center center no-repeat;
    height:100%;
    background-size: cover;
/*    if you don't use body as the selector, it will stack body items above this image. */
}

@media(max-width:768px){
    #logo img{
        width: 50%;
    }
    #counter .countdown {
        font-size: 1.4em !important;
    }
    
    #icons .fa{
        margin: 10px 0 1px !important;
        font-size:2em;
    }
    
    #signup .btn{
        margin-top: 7px !important;
    }
}
/*set for a rotating landscape device */

@media(min-width: 321px) and (max-width: 568px){
/*check this out! using the "and" keyword.    */
    #logo img{
        width:20%;
        
    }
}
#logo img {
    padding-top: 30px;
}

#intro p {
    color: white;
    text-align: center;
    font-family: 'Just Another Hand', cursive;
    font-weight:100;
    margin: 30px 0 0;
    font-size: 2em;
}

#counter .countdown {
    text-align:center;
    color:white;
    font-size:3em;
    font-family: 'Amatic SC', cursive;
    margin: -15px 0 0;

}

#icons {
    text-align:center;
}

#icons .fa {
    color: white;
    margin: 5px 15px;
    position: relative;
/*    set to 0 for an initial position (pre-hover) */
    bottom: 0; 
    transition: all 0.2s ease-in;
/*        set up easing for transition */

}

#icons .twitter:hover{
    color: #6cadde;
    bottom:5px;
}

#icons .facebook:hover{
    color: #3b5998;
    bottom:5px;
}

#icons .instagram:hover{
    color: #517fa6;
    bottom:5px;
}

#icons .google:hover{
    color: #ea4335;
    bottom:5px;
}

#signup {
    text-align: center;
}

#signup .form-inline {
    display: block;
}

#signup .btn {
    background-color: rgba(161,186,226,0.6);
    transition: all 0.5s ease-in;
}
#signup .btn:hover{
    background-color: rgba(37,165,82,1)
}